<html>
  <head>
    <title>{% block title %}My Site{% endblock %}</title>
  </head>
  <body>
    <h1><a href="/">My Site</a></h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'blog:archive-index' %}">
          Archive</a></li>
      </ul>
    </nav>

    <hr>

    <h2>{% block headline %}{% endblock %}</h2>

    {% block content %}{% endblock %}

    <hr>

    <footer>Copyright (c) {% now 'Y' %}</footer>
  </body>
</html>
