{% extends "diario/entry_archive.html" %}

{% block title %}{{ year.year}} - {{ block.super }}{% endblock  %}

{% block headline %}{{ year.year}} - {{ block.super }}{% endblock %}

{% block content %}
  {% if date_list %}
    <ul>
      {% for date in date_list %}
        <li><a href="{% url 'blog:archive-month' date.year date|date:'m' %}">
          {{ date|date:"F" }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p><em>No entries.</em></p>
  {% endif %}
{% endblock %}
