{% extends "base.html" %}

{% block title %}Archive{% endblock  %}

{% block headline %}Archive{% endblock %}

{% block content %}
  {% if date_list %}
    <ul>
      {% for date in date_list %}
        <li><a href="{% url 'blog:archive-year' date.year %}">
          {{ date.year }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p><em>No entries.</em></p>
  {% endif %}
{% endblock %}
