{% extends "diario/entry_archive.html" %}

{% block title %}{{ day }} - {{ block.super }}{% endblock  %}

{% block headline %}{{ day }} - {{ block.super }}{% endblock %}

{% block content %}
  {% for entry in entry_list %}
    {% include "diario/full_entry.html" %}
  {% empty %}
    <p><em>No entries.</em></p>
  {% endfor %}
{% endblock %}
